In [1]:
# Dictionary
# -Indexed
# -Ordered
# -Multiple and duplicate values
# -Mutable

In [2]:
d = {}
#d = dict()
#d = {<key>:<value>,<key>:<value>,...}

In [3]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
type(d)

dict

In [6]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [8]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [9]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [12]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['cat'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'cat': 'Cat'}

In [13]:
d = {}
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
print(d)

Enter c = 2
Enter name = Ram
Enter phone = 9808667654
Enter name = Shyam
Enter phone = 9808778765
{'Ram': '9808667654', 'Shyam': '9808778765'}

In [14]:
d = {'Ram': '9808667654', 'Shyam': '9808778765'}
for i in d:
    print(i)

Ram
Shyam

In [15]:
d = {'Ram': '9808667654', 'Shyam': '9808778765'}
for i in d.values():
    print(i)

9808667654
9808778765

In [16]:
d = {'Ram': '9808667654', 'Shyam': '9808778765'}
for i in d.items():
    print(i)

('Ram', '9808667654')
('Shyam', '9808778765')

In [17]:
l = []
d = {'Ram': '9808667654', 'Shyam': '9808778765'}
for i in d.items():
    l.append(i)
l

[('Ram', '9808667654'), ('Shyam', '9808778765')]

In [18]:
dict(l)

{'Ram': '9808667654', 'Shyam': '9808778765'}

In [20]:
#update
d = {'Ram': '9808667654', 'Shyam': '9808778765'}
d['Ram'] = 9808000000
d

{'Ram': 9808000000, 'Shyam': '9808778765'}

In [21]:
#del pop()
d = {'Ram': '9808667654', 'Shyam': '9808778765'}
del d['Ram']
d

{'Shyam': '9808778765'}

In [22]:
d = {'Ram': '9808667654', 'Shyam': '9808778765'}
e = d.pop('Ram')
print(d)
print(e)

{'Shyam': '9808778765'}
9808667654

In [25]:
# list inside dict
d = {'Ram': ['9808667654','9808888888'],
     'Shyam': ['9808778765','9845667654']}
print(d['Ram'])
print(d['Ram'][0])

['9808667654', '9808888888']
9808667654

In [26]:
d = {}
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    d[name] = [ntc_phone,ncell_phone]
print(d)

Enter c = 2
Enter name = Ram
Enter ntc phone = 9845778765
Enter ncell phone = 9808778765
Enter name = Shyam
Enter ntc phone = 9845778765
Enter ncell phone = 9808667654
{'Ram': ['9845778765', '9808778765'], 'Shyam': ['9845778765', '9808667654']}

In [27]:
d = {'Ram': ['9845778765', '9808778765'], 
     'Shyam': ['9845778765', '9808667654']}
d['Hari'] = ['9845667654','9808778765']
d

{'Ram': ['9845778765', '9808778765'],
 'Shyam': ['9845778765', '9808667654'],
 'Hari': ['9845667654', '9808778765']}

In [30]:
d['Ram'][0] = '9845908887'
d

{'Ram': ['9845908887', '9808778765'],
 'Shyam': ['9845778765', '9808667654'],
 'Hari': ['9845667654', '9808778765']}

In [31]:
#WAP to create this structure
# d = {'sn':[1,2],
#     'product':['Momo','Coke'],
#     'price':[200,100],
#     'quantity':[2,4],
#     'total':[400,400]}

In [34]:
# dict inside list
#WAP to create this structure
# l = [{'sn':1,'product':'Momo','quantity':2,'price':200,'total':400},
#     {'sn':2,'product':'Coke','quantity':3,'price':100,'total':300}]
# print(l[0])
# print(l[0]['product'])

{'sn': 1, 'product': 'Momo', 'quantity': 2, 'price': 200, 'total': 400}
Momo

In [35]:
# dict inside dict
d = {1:{'product':'Momo','quantity':2,'price':200,'total':400},
    2:{'product':'Coke','quantity':3,'price':100,'total':300}}
print(d)

{1: {'product': 'Momo', 'quantity': 2, 'price': 200, 'total': 400}, 2: {'product': 'Coke', 'quantity': 3, 'price': 100, 'total': 300}}

In [36]:
bill = {}
c = int(input("Enter c = "))
for i in range(1,c+1):
    name = input("Enter name = ")
    quantity = int(input("Enter quantity = "))
    price = int(input("Enter price = "))
    total = price*quantity
    bill[i] = {'product':name,'quantity':quantity,
               'price':price,'total':total}
    
print(bill)

Enter c = 2
Enter name = Momo
Enter quantity = 2
Enter price = 200
Enter name = Coke
Enter quantity = 2
Enter price = 80
{1: {'product': 'Momo', 'quantity': 2, 'price': 200, 'total': 400}, 2: {'product': 'Coke', 'quantity': 2, 'price': 80, 'total': 160}}

In [39]:
bill[1]['product'] = 'Buff Momo'
bill

{1: {'product': 'Buff Momo', 'quantity': 2, 'price': 200, 'total': 400},
 2: {'product': 'Coke', 'quantity': 2, 'price': 80, 'total': 160}}

In [40]:
bill[3] = {'product': 'Snacks', 'quantity': 2, 'price': 80, 'total': 160}
bill

{1: {'product': 'Buff Momo', 'quantity': 2, 'price': 200, 'total': 400},
 2: {'product': 'Coke', 'quantity': 2, 'price': 80, 'total': 160},
 3: {'product': 'Snacks', 'quantity': 2, 'price': 80, 'total': 160}}