In [1]:
# file = open('<file_name>','<mode>')
# file.close()

# with open('<file_name>','<mode>') as file:
#     <operations>

In [2]:
# r -> read
# w -> write
# a -> append
# x -> create

In [6]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already created")

The file is already created

In [7]:
with open('data.txt','r') as file:
    print(file.read())

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World

In [9]:
file = open('data.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
<class 'str'>

In [12]:
lists =  x.split('\n')
lists

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World',
 '6.Hello World']

In [15]:
line_no = int(input("Enter line no = "))
lists[line_no-1]

Enter line no = 1

'1.Hello World'

In [17]:
file = open('data.txt','w')
file.write("6.Hello World")
file.close()

In [20]:
file = open('data.txt','a')
file.write("\n7.Hello World")
file.close()

In [21]:
bill = str()
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price *quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    grand_total = grand_total+total
    
print(bill)
print("The grand total with vat 13% ",grand_total*1.13)

file = open('bill.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter name = Ram
Enter price = 200
Enter quantity = 4
Enter name = Coke
Enter price = 100
Enter quantity = 3
Ram 200 4 800
Coke 100 3 300

The grand total with vat 13%  1242.9999999999998

In [22]:
bill = str()
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price *quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    grand_total = grand_total+total
    
print(bill)
print("The grand total with vat 13% ",grand_total*1.13)

file = open('bill.txt','a')
file.write(bill)
file.close()

Enter n = 2
Enter name = Momo
Enter price = 200
Enter quantity = 2
Enter name = Coke
Enter price = 200
Enter quantity = 3
Momo 200 2 400
Coke 200 3 600

The grand total with vat 13%  1130.0

In [24]:
file = open('bill.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

Ram 200 4 800
Coke 100 3 300
Momo 200 2 400
Coke 200 3 600

<class 'str'>

In [29]:
data = x.split('\n')[0:-1]
data

['Ram 200 4 800', 'Coke 100 3 300', 'Momo 200 2 400', 'Coke 200 3 600']

In [35]:
bill_list = []
for i in data:
    print(i)
    name = i.split()[0]
    price = int(i.split()[1])
    qty = int(i.split()[2])
    total = int(i.split()[3])
    final_list=[name,price,qty,total]
    bill_list.append(final_list)
    
bill_list

Ram 200 4 800
Coke 100 3 300
Momo 200 2 400
Coke 200 3 600

[['Ram', 200, 4, 800],
 ['Coke', 100, 3, 300],
 ['Momo', 200, 2, 400],
 ['Coke', 200, 3, 600]]

In [38]:
# For CSV
file = open('bill.csv','w')
bill = str()
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price *quantity
    bill = bill + f"{name},{price},{quantity},{total}\n"
    grand_total = grand_total+total
    
print(bill)
print("The grand total with vat 13% ",grand_total*1.13)

file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 3
Enter name = Banana
Enter price = 100
Enter quantity = 3
Apple,200,3,600
Banana,100,3,300

The grand total with vat 13%  1016.9999999999999

In [37]:
pwd

'C:\\Users\\Aayush\\pythonClass415'

In [39]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

     Name  Price  Quantity  Total
0   Apple    200         3    600
1  Banana    100         3    300