In [1]:
# Python collection
# -List
# -Tuple
# -Dictionary
# -Set

In [3]:
a = list()
#a = []
b = ['Apple','Ball','Cat','Dog','Egg']
c = [1,2,3,4,5,6,7,8]
d  = [1,2,3,'apple','ball','1.3']
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
# list
# -indexing
# -multiple and duplicate value
# -ordered
# -mutable

In [8]:
a = ['Apple','Ball','Cat','Dog','Egg']
print(a[0])
print(a[0:4])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Egg']

In [13]:
a = ['Apple','Ball','Cat','Dog','Egg','Apple']
print(type(a[0]))

<class 'str'>

In [12]:
a = list('Apple')
a

['A', 'p', 'p', 'l', 'e']

In [15]:
a = ['Ball','Apple','Cat','Dog','Egg']
print(a)

['Ball', 'Apple', 'Cat', 'Dog', 'Egg']

In [16]:
# + *
a = [1,2,3,4,5,6]
b = ['Apple',"Ball","Cat"]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat']

In [17]:
a = [1,2,3,4,5,6]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [18]:
a = ['Ball', 'Apple', 'Cat', 'Dog', 'Egg']
for i in a:
    print(i)

Ball
Apple
Cat
Dog
Egg

In [20]:
l = list()
c = int(input("Enter c = "))
for i in range(c):
    x = int(input("Enter x = "))
    l = l+[x]
    
print(l)

Enter c = 5
Enter x = 234
Enter x = 45
Enter x = 234
Enter x = 654
Enter x = 354
[234, 45, 234, 654, 354]

In [22]:
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum value = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value =  654
The min value =  45
The sum value =  1521
[45, 234, 234, 354, 654]
[654, 354, 234, 234, 45]

In [26]:
a = ['zebra','apple','cat','zebra','ant']
a.sort()
print(a)

['ant', 'apple', 'cat', 'zebra', 'zebra']

In [27]:
# append() insert() extend()

In [29]:
a = []
a.append('Apple')
a.append('Ball')
print(a)

['Apple', 'Ball']

In [31]:
l = []
c = int(input("Enter c = "))
for i in range(c):
    x = input("Enter x = ")
    l.append(x)
    
print(l)

Enter c = 3
Enter x = Ram
Enter x = Shyam
Enter x = Hari
['Ram', 'Shyam', 'Hari']

In [33]:
a = ['ant', 'apple', 'cat', 'zebra', 'zebra']
a.insert(1,'Apple')
a

['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']

In [34]:
a = ['ant', 'apple', 'cat', 'zebra', 'zebra']
b = [1,2,3,4,5]
a.extend(b)
print(a)

['ant', 'apple', 'cat', 'zebra', 'zebra', 1, 2, 3, 4, 5]

In [36]:
# update
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
a[0] = 'Ant'
a

['Ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']

In [37]:
# update
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
a[0:2] = ['Ant','apple']
a

['Ant', 'apple', 'apple', 'cat', 'zebra', 'zebra']

In [39]:
# del remove() pop()
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
del a[0]
a

['Apple', 'apple', 'cat', 'zebra', 'zebra']

In [40]:
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
del a[0:5]
a

['zebra']

In [41]:
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
a.remove('cat')
a

['ant', 'Apple', 'apple', 'zebra', 'zebra']

In [42]:
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
name = input("Enter name = ")
c = a.count(name)
for i in range(c):
    a.remove(name)
    
print(a)

Enter name = zebra
['ant', 'Apple', 'apple', 'cat']

In [44]:
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
a.index('zebra')

4

In [46]:
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
for i in range(len(a)):
    if a[i] == 'zebra':
        print(i)

4
5

In [47]:
a = [1,2,3]
a*2

[1, 2, 3, 1, 2, 3]

In [55]:
a = ['ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']
a[1][1]

'p'

# List inside list

In [9]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(len(a))
print(a[2])
print(a[1][0])

3
[7, 8, 9]
4

In [10]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',56,'Bhaktapur'],
    ['Hari',78,'lalitpur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['Hari', 78, 'lalitpur']]

In [12]:
data = []
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data.append([name,age,add])
    
data

Enter c = 2
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur

[['Ram', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]

In [14]:
# update
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
a[0] = ['Rama', 55, 'Kathmandu']
a

[['Rama', 55, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]

In [15]:
# update
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
a[0][0] = 'Rama'
a

[['Rama', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]

In [16]:
#delete
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
del a[0]
a

[['Shyam', 89, 'Bhaktapur']]

In [17]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
b = a.pop(0)
print(a)
print(b)

[['Shyam', 89, 'Bhaktapur']]
['Ram', 45, 'Kathmandu']

In [20]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
b = a[0].pop(1)
print(a)
print(b)

[['Ram', 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
45

In [21]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
a[0].append(9808667654)
a[1].append(9808667652)
a

[['Ram', 45, 'Kathmandu', 9808667654], ['Shyam', 89, 'Bhaktapur', 9808667652]]

In [25]:
a = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 89, 'Bhaktapur'],
    ['Akash', 39, 'Jhapa']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Kathmandu
['Ram', 45, 'Kathmandu']

In [26]:
a = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 89, 'Bhaktapur'],
    ['Akash', 39, 'Jhapa'],
     ['Ram',45,'Kathmandu']]
name = input("Enter name = ")
for i in a:
    if name.lower() == i[0].lower():
        print(i)

Enter name = ram
['Ram', 45, 'Kathmandu']
['Ram', 45, 'Kathmandu']

In [29]:
a = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 89, 'Bhaktapur'],
    ['Akash', 39, 'Jhapa'],
     ['Ram',45,'Kathmandu']]
name = input("Enter name = ")
for i in range(len(a)):
    if a[i][0] == name:
        print(i)

Enter name = Ram
0
3

In [ ]:
# WAP to create a matrix
# r -> ?
# c -> ?
# x - > ?
# matrix - > r*c