In [1]:
# loop
# for loop
# while

In [2]:
# for loop
# range(5)         (0,1,2,3,4) for(i=0; i<5; i++)
# range(1,5)       (1,2,3,4) for(i=1; i<5; i++)
# range(1,5,2)     (1,3) for(i=1; i<5; i=i+2)

In [5]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [8]:
n = 5
for i in range(1,11):
    print(n*i)

5
10
15
20
25
30
35
40
45
50

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
c = int(input("Enter c = "))
for i in range(c):
    n = int(input("Enter n = "))

Enter c = 2
Enter n = 43
Enter n = 54

In [15]:
s = 0
c = int(input("Enter c = "))
for i in range(c):
    n = int(input("Enter money = "))
    s = s+n
print(s)

Enter c = 5
Enter money = 234
Enter money = 456
Enter money = 234
Enter money = 456
Enter money = 234
1614

In [20]:
s = str()
# s = ""
c = int(input("Enter c = "))
for i in range(c):
    n = input("Enter name = ")
    s = s+n+"\n"
print(s)

Enter c = 3
Enter name = RAm
Enter name = Shyam
Enter name = Hari
RAm
Shyam
Hari

In [23]:
s = str()
# s = ""
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + " "+phone + "\n"
print(s)

Enter c = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
Ram 9808778765
Shyam 9808778765

In [24]:
#4! = 1*2*3*4
s = 1
c = int(input("Enter c = "))
for i in range(1,c+1):
    s = s*i
print(s)

Enter c = 5
120

In [ ]:
WAP to calculate the sum of the numbers from n1 to n2
WAP to calculate the multiplication of the numbers from n1 to n2