In [1]:
# String
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [2]:
a = input("Enter a = ")
print(type(a))

Enter a = 10
<class 'str'>

In [3]:
# * +
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [5]:
a = "Hello World\n"
print(a*3)

Hello World
Hello World
Hello World

In [12]:
a = "Hello Wold"
print(a[1])
print(a[0:5])
print(a[0:11:2])

e
Hello
HloWl

In [16]:
a = "Hello World"
print(a[-1])
print(a[-1::-1])
print(a[::-1])

d
dlroW olleH
dlroW olleH

In [17]:
a = input("Enter a = ")
if a == a[::-1]:
    print(a,"is palindrome ")
else:
    print(a,"is not palindrome")

Enter a = nan
nan is palindrome

In [20]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = "Hello World I am "+ name + "I am from "+add+ " I am "+ str(age)
print(info)

Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Hello World I am RamI am from Kathmandu I am 45

In [21]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add =  input("Enter add = ")

info = f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Hello world I am Ram. I am from Kathmandu. I am 45

In [22]:
bill = str()
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price *quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    grand_total = grand_total+total
    
print(bill)
print("The grand total with vat 13% ",grand_total*1.13)

Enter n = 2
Enter name = Momo
Enter price = 150
Enter quantity = 3
Enter name = Coke
Enter price = 100
Enter quantity = 3
Momo 150 3 450
Coke 100 3 300

The grand total with vat 13%  847.4999999999999

In [24]:
# search in string
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash"
name = input("Enter name = ")
if name in a:
    print("Yes there is ",name)
else:
    print("There is no ",name)

Enter name = dgdfgdf
There is no  dgdfgdf

In [25]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash"
print(a.upper())
print(a)

RAM SHYAM HARI SITA GITA NITA NABIN SUBASH
Ram Shyam Hari Sita Gita Nita Nabin Subash

In [26]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash"
a = a.upper()
print(a)

RAM SHYAM HARI SITA GITA NITA NABIN SUBASH

In [27]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash"
a = a.lower()
print(a)

ram shyam hari sita gita nita nabin subash

In [32]:
# search in string
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes there is ",name)
    print(a.count(name))
else:
    print("There is no ",name)

Enter name = Ram
Yes there is  ram
2

In [33]:
# replace()
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash Ram"
a = a.replace('Ram','Rama')
print(a)

Rama Shyam Hari Sita Gita Nita Nabin Subash Rama

In [34]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash Ram"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Nita', 'Nabin', 'Subash', 'Ram']

In [36]:
a = "Ram-Shyam-Hari-Sita-Gita-Nita-Nabin-Subash-Ram"
a.split("-")

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Nita', 'Nabin', 'Subash', 'Ram']

In [44]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash Shyam"
b = a[4:9]
a[0:4] + "Shyama" + a[9:]

'Ram Shyama Hari Sita Gita Nita Nabin Subash Shyam'

In [45]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Subash Ram"
a = a.replace('Ram','')
print(a)

 Shyam Hari Sita Gita Nita Nabin Subash